.NavBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 6vh;

  .logo {
    font-family: Roboto;
    font-size: 1.2em;
    background-color: #eceff1;
    height: 100%;
    padding: 0 1em;
    display: flex;
    align-items: center;
    a {
      text-decoration: none;
      color: black;
    }
  }
}

.slider-wrapper {
  width: 340px;
  margin: 0 30px;
  .rc-slider-handle,
  .rc-slider-handle:active,
  .rc-slider-handle:focus,
  .rc-slider-handle:hover {
    background-color: green;
    outline: none;
    border: 2px solid green;
    height: 15px;
    width: 15px;
    margin-left: -7px;
    margin-top: -5px;
  }
  .rc-slider-track {
    background-color: transparent;
    outline: none;
  }
}
