* {
  box-sizing: border-box;
}

.Palette {
  height: 100vh;
  text-align: center;
}

.Palette-colors {
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  flex-direction: row;
}

.palette-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 4vh;
  font-weight: bold;
  margin-right: 15px;
  .emoji {
    display: inline-block;
    margin-left: 5px;
  }
}
