* {
  box-sizing: border-box;
}

.Palette {
  height: 100vh;
  text-align: center;
}

.Palette-colors {
  height: 95vh;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  flex-direction: row;
  flex: 1 1;
}

.slider-wrapper {
  width: 340px;
  margin: 0 10px;
  .rc-slider-handle,
  .rc-slider-handle:active,
  .rc-slider-handle:focus,
  .rc-slider-handle:hover {
    background-color: green;
    outline: none;
    border: 2px solid green;
    height: 15px;
    width: 15px;
    margin-left: -7px;
    margin-top: -5px;
  }
  .rc-slider-track {
    background-color: transparent;
    outline: none;
  }
}
